body {
  font-family: "Roboto", sans-serif;
}
.v-application {
  background-color: #151515;
  height: 100%;
}

.page {
  padding: 48px 24px;
}

.img-principal {
  width: 900px;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
